/* Main styles */
body {
    padding-top: 80px;
}

main {
    min-height: 300px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding-bottom: 15px;
}

/* Product image gallery */
.img-small {
    max-width: 100px;
    margin: 10px 10px 0 0;
}

/* Carousel controls */
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
     position: absolute;
     top: 50%;
     z-index: 5;
     display: inline-block;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* Product Panel */
.panel-product {
    display: block;
    text-align: center;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.panel-product:hover {
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
}

.panel-product > .panel-image {
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    max-height: 240px;
}

.panel-product > .panel-image > img {
    margin: 0 auto;
}

.promotion {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    left: 0;
    height: 24px;
    width: auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    line-height: 18px;
}

.status {
    display: inline-block;
    font-family: Oswald, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    height: 100%;
    padding: 3px 10px;
}

.product-images {
    margin: 5px 0;
    width: 100%;
}

.product-images > img {
    max-width: 100px;
    cursor: pointer;
    margin: 0 5px 5px 0;
    display: inline-block;
}

.product-images > img.active {
    box-shadow: 0 6px 10px rgba(0,0,0,.23), 0 10px 30px rgba(0,0,0,.19);
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings', serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e113";
}

a.desc:after {
    content: "\e114";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
